body{
	font-family: fantasy, sans-serif;
}
#brand-image{
	float:left;
}

#main-nav{
	background-color: #D6D7DC;
	background-color: rgba(0,0,0,.4);
	opacity: 0.5;
}

#about{
	width: 100vw;
	height: 100vh;
	background-image: url('../images/banner.jpeg');
	background-size: cover;
	background-position: center;
	background-color: rgba(0,0,0,.8);
	background-blend-mode: darken;
	color: rgb(49,73,60);
	color: #FFF;
	padding:100px 25px 70px 25px;
}

#about p{
	font-size: 2em;
}

#main-nav li a{
	color: #FFF;
}

#main-nav li a:hover{
	color:#31493C;
	font-weight: bold;
}


#main-nav li{
	padding:10px;
}

#brand-image a{
	color: #FFF;
	-webkit-text-shadow: 2px 2px 4px #000;
	-moz-text-shadow: 2px 2px 4px #000;
	-o-text-shadow: 2px 2px 4px #000;
	text-shadow: 2px 2px 4px #000;
}

#main-theme-wrapper{
	height: 100vh;
}

#main-theme-wrapper p{
	margin: 0;
}

.main-theme{
	width: 90%;
	height: 80%;
	color: #FFF;
	font-weight: bold;
	margin: 23vh auto;
	text-align: center;
}

.abusman{
	text-align: center;
}

.abusman img{
	margin-left:20px;
	border-radius: 50%;
}

.social-icons{
	font-size: 5rem;
	padding-left: 4.5rem;
	padding-top: 2rem;
}

.tech-icons{
	font-size: 7rem;
	padding-left: 4.5rem;
	padding-top: 2rem;
	margin-bottom: 3rem;
}

#portfolio{
	min-height:100vh;
	padding-top: 2rem;
}

 #contactme{
	min-height:50vh;
	padding-top: 2rem;
		background-color: #C7D6D5;
 }

#portfolio{
	position: relative;
}

.thumbnail{
	margin: 2rem;
	border:1px solid #31493C;
}

.badge{
	border:2px solid #F2F2F2;
	border-radius: 50%;
	background-color: #CCC;
	color: #EEE;
	font-size: 3rem;
	position:absolute;
	top:-0.1em;
	left:0.7em;
}


#footer-top{
	height:5vh;
	color:#B3EFB2;
	border-top: 1px solid #000;
	padding:8px;
}

#footer-bottom{
	height:10vh;
	padding:8px;
	text-align: center;
}









